rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /invites/{uuid} {
      allow read, write: if false;
    }
  }
}
